h1 {
    text-align: center;
    text-decoration: none;
    color:skyblue;
    margin-bottom:50px;

}
body{
    background-color: black;
}
/* form{ */
    /* background-color: lightblue; */
/* }xz */
.btn{
    width:140px;
    height:70px;
    font-size: 1.5rem;
    background-color: gold;
    border:none;
    color:black;

}
.btn2{
    height:60px;
    margin-bottom: 50px;

}
.btn:hover{
    background-color: white;
    color:black;
}
.allc{
    font-size: 1.5rem;
    margin-top: -200px !important;
}

.mb-3name{
    display:flex;
    justify-content:center;
    margin:70px;
}
.check{
    padding:50px;
}
div{
    text-align: center;
}
h4{
    text-align: center;
    margin-bottom:50px;
}
.form-head{
    border-bottom:2px dashed white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white !important;
}
.allc{
    border:2px dashed white;
    padding:40px;
    transform: scale(0.72);
   


}

.head-name{
    margin-left:-100px 9 !important;
}

.container {
   
   
}

#c2 {
    margin-left: 10%
}

#c1 {
    margin-left: 10%
}

#c3 {
    margin-left: 10%
}

.mb-3name {
    display: flex;
}

.first {
    margin-left: 2%;
}

.last {
    margin-left: 2%;
}