.formConatiner{
    height:100vh;
    width:100%;
   background-color: dimgrey;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
   
}
.signform{
    display: flex;
    flex-direction: column;
    padding:50px 80px 50px 80px;
}
.signform *{
    margin:20px;
    
}


.signform h1{
    margin-bottom:50px;

}
h1{
    align-self: center;
}

label{
    align-self: center;
}
button{
    width:150px;
    border-radius:20px;
    align-self: center;
    background-color: orange;
}

button:hover{
    background-color: darkgrey;
    color:black;
}